@import '../global'

.Link
  text-decoration: none
.card
  background-color: white
  color: $DarkColor
  border-radius: 15px
  margin: 2rem 0
  box-shadow: $shadow
  &__image
    background-size: cover
    background-position: center
    height: 300px
    border-radius: 10px 10px 0 0
  &__content
    padding: 20px
    &__header
      display: flex
      justify-content: space-between
      margin-bottom: 1rem

@media screen and (max-width: 768px)
  .card
    &__image
      height: 200px
    &__content
      &__header
        h3
          font-size: 1rem
      p
        font-size: .8rem