@import '../global'

nav
  padding: 0 10%
  display: flex
  justify-content: space-between
  height: 60px
  align-items: center
  background-color: #000
  h1
    color: $lightColor
  li
    display: inline
    padding: 0 1rem 0 0
    &:last-child
      padding: 0
  a
    color: $lightColor
    text-decoration: none
    text-transform: uppercase
  