@import ../global

.grid
  display: grid
  grid-template-columns: repeat(12, 1fr)
  gap: 1rem

.section-title
  font-size: 2.3rem
  margin-bottom: 1rem
  text-transform: capitalize

.btn
  display: flex
  justify-content: flex-end
  a
    color: $DarkColor
    text-decoration: none
    padding: 1.2rem
    border-radius: 10px 
    text-transform: uppercase
    font-weight: bold
    

.main
  height: 100vh
  display: flex
  flex-direction: column
  padding: 0 10%
  background-image: url('https://i.imgur.com/QmY6maH.jpg')
  background-position: left
  background-repeat: no-repeat
  background-size: cover
  color: white
  justify-content: center
  .item
    grid-column: 1 / 7
    margin-top: -150px
  &__title
    font-size: 4rem
    margin-bottom: 2rem
    background-color: white
    color: $DarkColor
    text-align: center
  p
    margin-bottom: 1rem
    font-size: 1.5rem

.posts
  background-color: $lightColor
  color: $DarkColor
  background-position: center
  padding: 10% 20%
  p
    margin-bottom: 4rem
  .post-card
    margin: 2rem 0
    p
      margin: 0



.works
  background-color: $DarkColor
  color: $lightColor
  background-position: center
  padding: 10% 20%
  p
    margin-bottom: 4rem
  .project-card
    background-color: $primaryColor
    border-radius: 10px
    margin: 2rem 0
    &:nth-of-type(1)
      grid-column: 1 / 7
    &:nth-of-type(2)
      grid-column: 7 / 13
  .btn
    a
      color: $lightColor

.skills
  background-color: #111
  color: $lightColor
  background-position: center
  padding: 10% 20%
  p
    margin-bottom: 4rem
  &__image
    background-image: url('https://i.imgur.com/F1TDyTE.jpg')
    background-position: top center
    background-size: 100%
    height: 300px
    margin: 2rem 0
  .btn
    a
      color: $lightColor

.notes
  background-color: $lightColor
  color: $DarkColor
  background-position: center
  padding: 10% 20%
  .card
    background-color: white
    color: $DarkColor
    border-radius: 15px
    margin: 2rem 0
    &:nth-of-type(1)
      grid-column: 1 / 7
    &:nth-of-type(2)
      grid-column: 7 / 13

  .btn
    a
      color: $DarkColor

@media screen and (max-width: 1440px)
  .main
    &__title
      font-size: 3rem
    .item
      margin-top: -2rem
    p
      font-size: 1.2rem
@media screen and (max-width: 1024px)
  .main
    &__title
      font-size: 2.2rem
    .item
      margin-top: -2rem
    p
      font-size: 1rem
  .posts
    padding: 10% 10%
  .works
    padding: 10% 10%
  .skills
    padding: 10% 10%
  .notes
    padding: 10% 10%
@media screen and (max-width: 768px)
  .main
    &__title
      font-size: 1.9rem
    p
      font-size: .8rem
@media screen and (max-width: 425px)
  .section-title
    font-size: 1.5rem
  .main
    .item
      grid-column: 1 / 13

  .posts
    padding: 10% 10%
    .section-title
      font-size: 1.5rem
    p
      font-size: .8rem
  .works
    padding: 10% 10%
    p
      font-size: .8rem
    .project-card
      &:nth-of-type(1)
        grid-column: 1 / 13
      &:nth-of-type(2)
        grid-column: 1/ 13
  .skills
    padding: 10% 10%
    p
      font-size: .8rem
    &__image
      height: 150px
      margin: 2rem 0
  .notes
    padding: 10% 10%
    a
      &:nth-of-type(1)
        grid-column: 1 / 13 !important
      &:nth-of-type(2)
        grid-column: 1/ 13 !important
    p
      font-size: .8rem

@media screen and (max-width: 375px)
  .posts
    padding: 10% 2%
  .works
    padding: 10% 2%
  .skills
    padding: 10% 2%
  .notes
    padding: 10% 2%