@import '../global'

.skills-container
  background-color: $DarkColor
  color: $lightColor
  background-position: center
  padding: 2% 20%
  hr
    margin-bottom: 5rem
  h3
    margin: 1rem 0
  .item
    grid-column: span 3
    background-color: white
    color: #222
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem

@media screen and (max-width: 1440px)
@media screen and (max-width: 1024px)
@media screen and (max-width: 768px)
  .skills-container
    padding: 5% 10%
@media screen and (max-width: 425px)
  .skills-container
    padding: 5% 2%
    .item
      padding: 5px
    p
      font-size: .8rem
    span
      font-size: .8rem
